Source/.vs/DotNetCoreWebAPI/config/applicationhost.config
Source/.vs/DotNetCoreWebAPI/v16/.suo
Source/.vs/DotNetCoreWebAPI/v16/Server/sqlite3/db.lock
Source/.vs/DotNetCoreWebAPI/v16/Server/sqlite3/storage.ide
Source/.vs/DotNetCoreWebAPI/v16/Server/sqlite3/storage.ide-shm
Source/.vs/DotNetCoreWebAPI/v16/Server/sqlite3/storage.ide-wal
Source/bin/Debug/netcoreapp3.1/appsettings.Development.json
Source/bin/Debug/netcoreapp3.1/appsettings.json
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.deps.json
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.dll
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.exe
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.pdb
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.runtimeconfig.dev.json
Source/bin/Debug/netcoreapp3.1/DotNetCoreWebAPI.runtimeconfig.json
Source/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Source/obj/DotNetCoreWebAPI.csproj.nuget.cache
Source/obj/DotNetCoreWebAPI.csproj.nuget.dgspec.json
Source/obj/DotNetCoreWebAPI.csproj.nuget.g.props
Source/obj/DotNetCoreWebAPI.csproj.nuget.g.targets
Source/obj/project.assets.json
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.AssemblyInfo.cs
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.AssemblyInfoInputs.cache
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.assets.cache
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.csproj.FileListAbsolute.txt
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.csprojAssemblyReference.cache
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.dll
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.exe
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.MvcApplicationPartsAssemblyInfo.cache
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.pdb
Source/obj/Debug/netcoreapp3.1/DotNetCoreWebAPI.RazorTargetAssemblyInfo.cache
Source/obj/Debug/netcoreapp3.1/staticwebassets/DotNetCoreWebAPI.StaticWebAssets.Manifest.cache
Source/obj/Debug/netcoreapp3.1/staticwebassets/DotNetCoreWebAPI.StaticWebAssets.xml
Source/.vs/DotNetCoreWebAPI/DesignTimeBuild/.dtbcache
